*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.container {
  max-width: 940px;
  margin: auto;
  /* padding: 0 20px; */
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer-midlle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 29px;
}

.navigation .header-logo {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-stretch: condensed;
  border-bottom: solid 5px #b52933;
  background-color: #ee3643;/*рамку опустить вниз*/
}
.navigation input {
  position: relative;
  outline: none;
  border: 1px solid transparent;
  background-color: #293449;
  padding: 13px 49px;
  padding-left: 50px;
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  color: #fff;
}
input [placeholder] {/*??*/
  color: #fff;
}
.navigation input::before {/*где иконка?*/
  content: '';
  position: absolute;
  top: 13px;
  right: 266px;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-search.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.navigation input:focus {
  background-color: #fff;
}

.header-logo {
  padding: 9px 54px;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.checkout {
  padding: 14px 18px;
  background-color: #63a63e;
}

 .basket-focus {
  background-color: #ee3643;
  padding: 13px;
  padding-left: 45px;
  padding-right: 24px;
  margin-left: -8px;
}
.bookmarks,
.basket {
  position: relative;
  padding: 14px 27px;
  padding-left: 54px;
}

.navigation .bookmarks:hover,
.navigation .basket:hover {
  background-color: #212a3a;
}

.navigation .bookmarks:focus,
.navigation .basket:focus {
  background-color: #161d29;
  color: #999ca1;
}

.navigation .checkout:focus {
  background-color: #518534;
  color: #999ca1;
}

.bookmarks::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 120px;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-bookmark.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.basket::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 117px;
  bottom: 0;
  left: 0;
  background-image: url('../img/cart-icon.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.header-top {
  background-color: #293449;;
}

.header-midlle {
  background-color: #f2f6f8;
  padding-bottom: 58px;
}

.wr-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 30px;
}

.shop-description {
  padding-top: 17px;
  padding-left: 53px;
}

.wr-header div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  text-align: center;
}

.user-navigation {
  position: relative;
  display: flex;
  padding-top: 24px;
}

.site-navigation-bottom {
  background-color: #32425c;
  border-bottom: solid 5px #293449;
}

.header-top a {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  color: #fff;
}

div .shop-description  {
  font-family: 'Cuprum Italic', Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-stretch: condensed;
  line-height: 23px;
  color: #e9292a;
}

.header-number {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 21px;
  font-stretch: condensed;
  color: #e9292a;
  padding: 8px 58px;
  margin-bottom: 9px;
  border: 3px solid #fff;
}

.header-number::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-phone.png');
  background-repeat: no-repeat;
  background-position: 5% 0%;
}

.header-number+span {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 14px;
  font-stretch: condensed;
  color: #32425c;
}

.user-navigation a,
.user-name {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 21px;
  /* line-height: 20px; */
  text-align: center;
  font-stretch: condensed;
  color: #000;
  background-color: #fff;
}

.heade p:last-child {
  position: relative;
}

.user-name::before {
  content: '';
  position: absolute;
  top: 13px;
  right: 266px;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-user.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.user-name::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 12px;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-logout.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.login-link {
  padding: 11px 36px;
  margin-right: 8px;
}

.login-link::before {
  content: '';
  position: absolute;
  top: 27px;
  right: 252px;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-entrance.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.login-link::before:hover {    /*наведение и клик??*/
  color: #32425c;
}

.login-registration {
  padding: 11px 25px;
}

.login-link:hover,
.login-registration:hover {
  color: #ee3643;
}

.login-link:focus,
.login-registration:focus,
.user-name:focus {
  color: #c5c5c5;
}

.user a {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 16px;
  text-decoration: underline;
  font-stretch: condensed;
  color: #32425c;
}

.user {
  display: flex;
  position: relative;
  top: 66px;
  right: 57px;
  margin-right: 0px;
}

.user-orders {
  padding-right: 47px;
}

.user-name {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 83px;
  position: absolute;
  margin-top: 12px;
  margin-left: -11px;
}

.user a:hover {
  color: #ee434f;
}

.user a:focus {
  color:
  #c5c5c5;
}

.site-navigation a {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  font-stretch: condensed;
  padding: 18px 34px;/*посреди есть тонкая линия*/
  color: #fff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus{
  color: #c5c5c5;
}

.site-navigation ul,
.footer-site-navigation,
.footer-shop-item {
  display: flex;
  justify-content: space-around;
}

.site-navigation li  {
  padding: 18px 0;
}

.main {
  background-color: #fff;
}

.destination  p,
.services p,
.main-contact p {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-stretch: condensed;
  color: #000;
}

.main-navigation {
  display: flex;
  position: relative;
}

.main-navigation li {
  padding-left: 50px;
  padding-top: 23px;
  padding-bottom: 18px;
}

.main-navigation li:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 26px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/icon-home.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
}

.main-navigation li:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 26px;
  right: 0;
  bottom: 0;
  left: 27px;
  background-image: url('../img/icon-right-small.png');
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.main-navigation li:nth-child(n+2)::before {
  content: '';
  position: absolute;
  top: 26px;
  right: 0;
  bottom: 0;
  left: 122px;
  background-image: url('../img/icon-right-small.png');
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.main-navigation li:nth-child(n+2)::after {
  content: '';
  position: absolute;
  top: 26px;
  right: 0;
  bottom: 0;
  left: 243px;
  background-image: url('../img/icon-right-small.png');
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}



.main-navigation a {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 13px;
  color: #000;
  text-transform: uppercase;
  font-stretch: condensed;
  cursor: pointer;
}

.goods p {
  font-family: 'Cuprum Bold', Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-top: 21px;
  padding-left: 23px;
  font-stretch: condensed;
  color: #fff;
}

/* .goods {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap
}

.slider {
  flex-grow: 1;
}

.goods-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.goods > .goods-item {
   margin-bottom: 20px;
   flex-grow: 1
}
.wr-goods {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.wr-goods .goods-item {
  flex-direction: column;
  justify-content: space-between;
} */




.goods {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.goods-item-top {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.wr-goods {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.goods-item-bottom {
  display: flex;
  flex-direction: column;
}



/*слайдер*/
.slider {
  position: relative;
  width: 100%;
}

.slider-controls {
  position: absolute;
  left: 45%;
  bottom: 48%;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label:nth-child(1) {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(45deg);
  right: 144%;
}

.slider-controls label:nth-child(2) {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-135deg);
  right: -171%;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
}

.slider-item {
  display: none;
  padding: 20px 0 22px 25px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/image-slider-perforator.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/image-slider-drill.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
}

.slider h3 {
  font-family: 'Cuprum Bold', Arial, sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  font-stretch: condensed;
  color: #fff;
}

.slider p {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  font-stretch: condensed;
  color: #fff;
  margin-bottom: 128px;
}

/*секция ДОСТАВКА*/
.services {
  background-color: #eee
  ;
}

.services-title {
  padding-top: 63px;
  padding-bottom: 62px;
}

.services-title h3 {
  padding: 0;
}

.services-bg {
  position: relative;
  display: flex;
  /* padding-bottom: 99px; */
  /* background-color: #eeeeee;*/
}

.services-bg-item {
  display: none;
}

/* .services-bg-item:nth-child(1) {
  display: block;
} */

.services-bg-list {
  width: 100%;
  padding-left: 80px;
}

.services-title p {
  max-width: 410px;
  /* padding-left: 30px; */
  padding-top: 30px;
  line-height: 25px;
}

.services-bg-list p {
  max-width: 326px;
  line-height: 25px;
  margin: 24px 0 24px;
}

.services-controls p {
  font-family: 'Cuprum Bold', Arial, sans-serif;
  font-size: 21px;
  font-weight: 600;
  font-stretch: condensed;
  color: #fff;
  padding: 18px 22px;
  /* z-index: 5; */
  cursor: pointer;
}
.services-controls label {
  position: relative;
  display: flex;
  width: 240px;
  height: 63px;
  background-color: #32425c;
  /* border-top: 1px solid #405069; */
  border-bottom: 1px solid #293449;
}

/* .services-controls .label:active {
  background-color: #fff;
} */

.services-bg-item {
  display: none;
}

.services-bg-item:nth-child(1) {
  background-image: url('../img/bg-car.png');
  background-repeat: no-repeat;
  background-position: 99% 104%;
  height: 286px;
}

.services-bg-item:nth-child(2) {
  background-image: url('../img/bg-guarantee.png');
  background-repeat: no-repeat;
  background-position: 99% 104%;
  height: 286px;
}

.services-bg-item:nth-child(3) {
  background-image: url('../img/bg-credit.png');
  background-repeat: no-repeat;
  background-position: 99% 104%;
  height: 286px;
}

#filter-delivery:checked ~ .services-bg-list .services-bg-item:nth-child(1) {
  display: block;
}

#filter-guarantee:checked ~ .services-bg-list .services-bg-item:nth-child(2) {
  display: block;
}

#filter-credit:checked ~ .services-bg-list .services-bg-item:nth-child(3) {
  display: block;
}

/* #filter-delivery:checked ~ .services-controls .services-controls-item--1::before,
#filter-guarantee:checked ~ .services-controls .services-controls-item--2::before,
#filter-credit:checked ~ .services-controls .services-controls-item--3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 63px;
  background-color: #fff;
  color: #000;
} */

#filter-delivery:checked ~ .services-controls label[for=filter-delivery],
#filter-guarantee:checked ~ .services-controls label[for=filter-guarantee],
#filter-credit:checked ~ .services-controls label[for=filter-credit] {
  /* content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 63px; */
  background-color: #fff;
  color: #32425c;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.services-controls {
  position: relative;
}

/* .bs {
  border-right-color: #ef40b0;
    border-right-style: dotted;
    border-right-width: 3px;
    box-shadow: 0 0 10px 10px black ;
} */
.services-controls::after {
  content: '';
  position: absolute;
  top: -39px;
  left: 230px;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadov-right.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* .services-controls p:focus {
  color:#999;
} */

.store-nav a {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-stretch: condensed;
  color: #fff;
}

.bt-store {
  display: inline-block;
  width: 135px;
  height: 40px;
  background-color: rgba(229, 229, 229, .3);;
  text-align: center;
  padding: 10px;
  margin-left: 25px;
  margin-top: 17px;
  border-radius: 2px;
}

.bt-store:hover {
  background-color: rgba(204, 204, 204, .3);;
}

.bt-store:focus {
  background-color: rgba(178, 178, 178, .3);;
}

.store-nav {
  width: 300px;
  height: 125px;
}

.materials {
  background-color: #ffbf47;
  background-image: url('../img/icon-materials.png'), url('../img/new-flag.png');
  background-repeat: no-repeat;
  background-position: 83%, 100% 0;
}

.tool {
  background-color: #3bbce3;
  background-image: url('../img/icon-tool.png');
  background-repeat: no-repeat;
  background-position: 88%;
}

.technics {
  background-color: #dc91d8;
  background-image: url('../img/icon-equipment.png');
  background-repeat: no-repeat;
  background-position: 86%;
}

.discounts {
  background-color: #8ed78f;
  background-image: url('../img/icon-discount.png');
  background-repeat: no-repeat;
  background-position: 81%;
  margin-bottom: 16px;
}

.delivery {
  background-color: #ffc047;
  background-image: url('../img/icon-delivery.png');
  background-repeat: no-repeat;
  background-position: 86%;
}

.title {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 29px;
  font-stretch: condensed;
  /* color: #32425c; */
}

.product .title,
.producers .title {
  color: #32425c;
}

.producers {
  padding-bottom: 77px;
}

.bg-head {
  background-color: #f9f5f0;
}

.main .page-title {
  background-color: #f2f6f8;
  padding: 29px 26px;
}

.product div,
.producers div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.product div {
  margin-bottom: 19px;
}

.producers div {
  margin-top: 17px;
  margin-bottom: 8px;
}

.filtres p {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-stretch: condensed;
  padding: 11px 21px;
  margin-top: 20px;
  margin-bottom: 17px;
  background-color: #f7f3ec;
  border-radius: 3px;
  color: #000;
}

fieldset {
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 16px;
  margin-bottom: 27px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: relative;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle div {
  position: absolute;
  left: -2px;
  top: -2px;
  height: 4px;
  width: 4px;
  background-color: #ababab;
  border-radius: 50%;
}

.range-controls .toggle-min {
  position: relative;
  left: 0;
  top: -12px;
}

.range-controls .toggle-max {
  position: relative;
  left: 140px;
  top: -32px;
}

/* .price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
} */

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.price-controls span {
  content: '';
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 97px;
  margin-left: 9px;
  border: .5px solid #000;
  width: 9px;
  height: 0px;
}

.price-controls input {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;
  width: 95px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.filter-item,
.filter-product {
  border-bottom: 2px solid #e5e5e5;
}

.filter legend {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  font-stretch: condensed;
  line-height: 24px;
  /* padding-top: 13px;
  padding-bottom: 6px; */
}

.filter-product,
.filter-power {
  margin-top: 18px;
}

.filter-product ul {
  padding-bottom: 17px;
  padding-top: 7px;
}

.filter-power ul {
  padding-top: 6px;
  padding-bottom: 73px;
}

.filter li {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.filter ul {
  line-height: 39px;
}

.filter-input:hover + label {
  color: #c5c5c5;
}

.filter-input:focus + label {
  color: #b5b5b5;
}

.filter-input:disabled + label {
  color: #e9e9e9;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{

  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
 input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #c5c5c5;
  background-color: #ffffff;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 4px solid #c5c5c5;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 7px;
  top: 3px;
  width: 16px;
  height: 7px;
  border-radius: 1px;
  border-left: 4px solid #c5c5c5;
  border-bottom: 4px solid #c5c5c5;
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 9px;
  top: 9px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #c5c5c5;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.wr-product-list {
  margin-left: 22px;
}

.product {
  margin-top: 20px;
}

.product-category {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-stretch: condensed;
  padding: 10px 17px;
}

.product-discount {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  /* padding: 3px; */
  color: #999;
  text-decoration: line-through;
}

.product-price {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 141px;
  margin-left: 42px;
  margin-bottom: 21px;
  margin-top: 6px;
  padding: 9px;
  color: #fff;
  background-color: #ee3643;
  clip-path: polygon(87% 0%, 100% 50%, 86% 100%, 0% 100%, 0 49%, 0% 0%);
}

.product .actions {
  display: flex;
  flex-direction: column;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  padding: 40px 0;
  background-color: #fff;
  z-index: 10;
}

.buy-item,
.bookmarks-item {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.bookmarks-item {
  color: #32425c;
  background: white;
  border-color: #63a63e;
}

.buy-item:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.buy-item:active {
  border-color: #518534;
  background-color: #518534;
  cursor: pointer;
}

.bookmarks-item:hover {
   border-color: #32425c;
}

.bookmarks-item:focus {
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.perferator-list,
.wr-footer {
  display: flex;
  justify-content: space-between;
}

.perferator-list li,
.product-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 220px;
  border: 1px solid #eaeaea;
}

.perferator-list li:hover,
.product-list li:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #ccc;
  cursor: pointer;
  transition: .5s;
}

.perferator-list li .actions,
.product-list li .actions {
  display: none;
}

.perferator-list li:hover .actions,
.product-list li:hover .actions  {
  display: block;
  background-color: #fff;
  height: 140px;
}
.no-discount .product-price {
  margin-top: 27px;
}

.new:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.perferator-list img {
  width: 218px;
}

.producers-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
}

.producers-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
  margin: 10px 0;
}

.producers-list li:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #ccc;
  cursor: pointer;
  transition: .5s;
}

.producers-list li:focus {
  cursor: pointer;
  transition: .5s;
  opacity: .7;
}

.wr-product {
  display: flex;
}

.sorting {
  display: flex;
  align-items: center;
  padding: 9px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.sorting-list {
  display: flex;
  position: relative;
  top:7;
}

.sorting p {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-stretch: condensed;
  padding-left: 20px;
  padding-right: 70px;
  background-color: #f7f3ec;
  border-radius: 3px;
  color: #000;
}

.sorting a {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-stretch: condensed;
  padding-left: 70px;
  background-color: #f7f3ec;
  border-radius: 3px;
  color: #b2b2b2;
  text-decoration: underline;
  /* border-bottom: 1px dashed blue; */
  /* border-bottom-style: dotted; */
  /* text-decoration: none; */
}

.sorting a:hover {
  color: #000;
}

.sorting a:active {
  color: #ee3643;
}
.sorting-list .button {
  /* border: 9px solid #f7f3ec;
  border-bottom: 11px solid #b2b2b2;
  cursor: pointer; */
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.sorting-list .button:nth-child(1) {
  border: 6px solid #f7f3ec;
  border-bottom: 11px solid #b2b2b2;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: -2px;
  right: -39px;
}

.sorting-list .button:nth-child(2) {
  border: 6px solid #f7f3ec;
  border-top: 11px solid #b2b2b2;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 2px;
  right: -71px;
}

.sorting-list .button:nth-child(1):hover {
  border: 6px solid #f7f3ec;
  border-bottom: 11px solid #000;
}

.sorting-list .button:nth-child(2):hover {
  border: 6px solid #f7f3ec;
  border-top: 11px solid #000;
}

.sorting-list .button:nth-child(1):active {
  border: 6px solid #f7f3ec;
  border-bottom: 11px solid #ee3643;
}

.sorting-list .button:nth-child(2):active {
  border: 6px solid #f7f3ec;
  border-top: 11px solid #ee3643;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list li {
  margin-bottom: 16px;
}

.pagination {
  padding-top: 36px;
  padding-bottom: 61px;
}

.pagination-list {
  display: flex;
  padding-left: 239px;
}

.pagination a {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-stretch: condensed;
  color: #000;
}

.pagination li {
  padding: 9px 16px;
  border: 1px solid #e5e5e5;
  margin: 0 4px;
  border-radius: 3px;
}

.pagination-list .next {
  padding: 9px 33px;
}

.pagination-list li:hover,
.filtres .button:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list li:focus,
.filtres .button:focus {
  border: 1px solid #ee3643;
}

.pagination-list li:active {
  background-color:  #ee3643;
}

.pagination-list .current {
  background: #ee3643;
}

.pagination-list .current:hover,
.pagination-list .current:focus,
.pagination-list .current:active {
  background: #ee3643;
}

.subtitle {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-stretch: condensed;
  color: #000;
}

.headline-title {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
  font-stretch: condensed;
  color: #32425c;
}

/* .destination  p,
.services p,
.main-contact p {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-stretch: condensed;
  color: #000;
} */

.destination  p {
  line-height: 25px;
  padding-bottom: 67px;
}

.partners {
  max-width: 63%;
}

.partners p {
  padding: 15px 0px 18px;
}

.partners h3,
.contact h3 {
  padding-left: 0;
}

.partners-list li {
  font-family: 'Cuprum Bold', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  font-stretch: condensed;
  padding-bottom: 21px;
  color: #000;
}

.partners-list {
  position: relative;
  margin-left: 37px;
  margin-bottom: 15px;
  margin-top: 6px;
}

.partners-item {
  position: relative;
}

.partners-item::before {
  content: '';
  position: absolute;
  top: 9px;
  right: 0;
  bottom: 0;
  left: -35px;
  border: 1px solid #ee3643;
  width: 23px;
  height: 0px;
}

.contact {
  max-width: 37%;
  padding-left: 47px;
}

.contact p {
  padding-top: 15px;
  padding-bottom: 37px;
}

.producers .button,
.main-contact .button,
.product .button,
.slider .button,
.modal-email .button,
.wr-modal-order-card .button,
.services-bg-item .button  {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  transform: scaley(1.1);
  font-stretch: extra-condensed;
  border-radius: 4px;
}

.slider .button,
.services-bg-item .button  {
  display: inline-block;
  padding: 10px 46px;
}

.product .button {
  display: inline-block;
  padding: 10px 51px;
  margin-right: 25px;
}

.producers .button {
  display: inline-block;
  padding: 10px 66px;
  margin-right: 24px;
}

.partners .button {
  display: inline-block;
  padding: 10px 39px;
}

.contact .button:last-child {
  display: inline-block;
  padding: 10px 61px;
  margin-top: 37px;
}

.button:hover {
  background: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.filtres .button {
  display: inline-block;
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fff;
  color: #000000;
  transform: scaley(1.1);
  font-stretch: extra-condensed;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  text-align: center;
  padding: 10px 42px;
}

.main-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  margin-bottom: 87px;
}

.bg-main-bottom {
  /* min-height: 260px; */
  background-color: #f2f6f8;
}
.destination h3 {
  padding: 60px 0 24px;
}

.footer {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.footer-navigation .footer-logo {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-stretch: condensed;
  border-bottom: solid 5px #b52933;
  background-color: #ee3643;
}

.footer-logo {
  padding: 15px 39px;
}

.footer-top a {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  color: #fff;
}
.footer-site-navigation li {
  padding-left: 60px;
  padding-top: 27px;
}

.footer-shop-item li {
  padding-left: 64px;
}

.footer-site-navigation a:hover,
.footer-shop-item a:hover,
.footer-feedback a:hover,
.footer-development a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:focus,
.footer-shop-item a:focus {
  text-decoration: none;
  opacity: .5;
}

.footer-feedback a:focus,
.footer-development a:focus {
  text-decoration: none;
  color: #ee3643;
}

.footer-contact p {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  color: #fff;
}

.footer-shop-item a {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  color: #ffd180;
}

.footer-social li {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  margin: 0 2px;
}

 .icon-social-vk {
  position: absolute;
  top: 13px;
  right: 8px;
}

.icon-social-fb {
  position: absolute;
  top: 10px;
  right: 15px;
}

.icon-social-ig {
  position: absolute;
  top: 10px;
  right: 9px;
}

.footer-social li:hover {
  background-color: #ee3643;
}

.footer-copyright p,
.footer-development p,
.footer-development a,
.footer-feedback a,
.footer-feedback p {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 16px;
  font-stretch: condensed;
  color: #fff;
}

.footer-feedback a,
.footer-development a {
  color: #ffd180;
}

.wr-footer {
  margin-top: 55px;
  padding-top: 36px;
  padding-bottom: 31px;
}

.footer-social {
  display: flex;
  padding-left: 111px;
}

.footer-feedback {
  padding-left: 60px;
}

.footer-development {
  padding-right: 24px;
}

/*Модальные окна*/
/*Карточка заказа*/
.modal {
  position: fixed;
  width: 600px;
  background-color: #fff;/*временный*/
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);/*перевести в 6значный*/
  /* z-index: 10; */
}

.modal-email {
  display: none;
  top: 20%;
  left: 30%;
  border-top: 7px solid #e9292a;
}

.modal-email .modal-close,
.modal-order-card .modal-close {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 10px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.wr-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.wr-form p:nth-child(1) {
  margin-left: 60px;
  margin-right: 30px;
}

.wr-form p:nth-child(2) {
  margin-right: 60px;
  margin-left: 0;
}

.modal-email span {
  font-family: 'Cuprum Bold', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  font-stretch: condensed;
  padding: 13px 0 10px;
  color: #000;
}

.modal-email p {
  margin-left: 60px;
}

.modal-email input[type="text"],
.modal-email input[type="email"],
.modal-email textarea {
  font-family: 'PT Sans Regular', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-stretch: condensed;
  width: 225px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: 2px solid transparent;
  margin-top: 10px;
  margin-bottom: 20px;
  border-color: #ccc;
}

.modal-email textarea {
  width: 480px;
  resize: none;
}
.modal-email .button {
  padding: 10px 215px;
  outline: none;
  border: 2px solid transparent;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 60px
}

.bg-modal-email {
  margin-top: 20px;
  background-color: #f2f6f8;
}

/*Всплывающая карта*/
/* .modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
} */
/* .map-img {
  position: relative;
  overflow: hidden;
  width: 940px;
  height: 446px;
}
.map-img img {
  position: absolute;
  top: -256px;
  right: -270px;
  left: -525px;
  bottom: -76px;
} */
/* .modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}
.modal-map {
  display: none;
  top: 8%;
  left: 15%;
  width: 766px;
  height: 447px;
} */

.modal-map .modal-close {
  position: absolute;
  top: 3%;
  right: -22%;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/*карточка заказа*/

.wr-modal-order-card {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  background-color: #f2f6f8;
}

.modal-order-card {
  display: none;
  top: 20%;
  left: 30%;
  border-top: 7px solid #e9292a;
}

.modal-order-card p {
  font-family: 'Cuprum Regular', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-stretch: condensed;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000;
}

.modal-order-card p::before {
  content: "";
  position: absolute;
  left: 83px;
  top: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #63a63e;
}

.modal-order-card p::after {
  content: "";
  position: absolute;
  left: 95px;
  top: 60px;
  width: 20px;
  height: 11px;
  border-radius: 1px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(-45deg);
}

.wr-modal-order-card a {
  display: inline-block;
  padding: 10px 39px;
  margin-left: 23px;
}

.wr-modal-order-card a:nth-child(2) {
  color: #000;
  background-color: #fff;
}


/*события*/
.modal-error {
  /* -webkit-animation: shake 0.6s; */
  animation: shake 0.6s;
  /* -webkit-animation-duration: 0.6s; */
  animation-duration: 0.6s;
}

.modal-show {
  display: block;
  /* -webkit-animation: bounce 0.6s; */
  animation: bounce 0.6s;
}

/* @-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

@keyframes bounce {
  0% {
    /* -webkit-transform: translateY(-2000px); */
    transform: translateY(-2000px);
  }

  70% {
    /* -webkit-transform: translateY(30px); */
    transform: translateY(30px);
  }

  90% {
    /* -webkit-transform: translateY(-10px); */
    transform: translateY(-10px);
  }

  100% {
    /* -webkit-transform: translateY(0); */
    transform: translateY(0);
  }
}

/* @-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
} */

@keyframes shake {

  0%,
  100% {
    /* -webkit-transform: translateX(0); */
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    /* -webkit-transform: translateX(-10px); */
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    /* -webkit-transform: translateX(10px); */
    transform: translateX(10px);
  }
}

/* .modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
} */
